*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 500px;
    width: 100%;
    text-align: center;
    background-color: #008000;
    padding: 50px;
}
.hero h1{
    text-align: center;
    display: inline-block;
    margin-top: 15%;
   
}

.sec1{
    height: 200px;
    width: 100%;
    margin-top: 20px;
    
    
}

.sec1 h2{
    font-size: 20px;
    text-align: left;
    margin-left: 11%;
}

.sec1 p{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 10px;
}
.sec2{
    height: 200px;
    width: 100%;
}

.sec2 .headtwo{
    font-size: 20px;
    text-align: right;
    margin-right: 11%;
    
}

.sec2 p{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 10px;
}

footer{
    height: 200px;
    width: 100%;
    background-color: green;
}
footer, .head3{
    text-align: center;
    display: inline-block;
    margin-top: 5%;
    
}
